html{
    background-color: aquamarine;
}
.menu{
    background-color: aqua;
    align-content: right;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0.1em;
    right: 0.01em;
}

.titulo{
    text-align: center;
}

.logint{
    position: absolute;
    background-color: aqua;
    padding: 1em;
    width: 10%;
    height: 5%;
    top: 15%;
    right: 30%;
    text-align: center;
}
.registert{
    position: absolute;
    background-color: aqua;
    padding: 1em;
    width: 10%;
    height: 5%;
    top: 15%;
    left: 30%;
    text-align: center;
}

.login, .register{
    padding: 1em;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: aqua;
    text-align: center;
    border-radius: 1em;
}

table, tr, th, td{
    margin: 0.2em;
    padding: 0.2em;
    border: 1em solid black;
    border-color: rgb(49, 100, 83);
    border-width: 2px;
}

a{
    margin: 0.4em;
    background-color: aqua;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 0.2em;
}

.edit {
    background-color: aqua;
    position: absolute;
    padding: 1em;
    width: 60%;
    height: 50%;
    top: 15%;
    left: 20%;
}