{% extends 'base.html.twig' %}

{% block title %}PhotoDropX{% endblock %}

{% block body %}

<div class="contenido">
    <div class="title">
        <h1>PhotoDropX</h1>
    </div>
</div>
{% endblock %}
