{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <div class="title">
            <h1>Categorias</h1>
    </div>
    <div class="contenido">
        <div class="table">
            <tbody>
            {% for categorium in categorias %}
                <a href="{{ path('producto_lista', {'categoriaid': categorium.id}) }}">
                    <div class="categoria">
                        <p id="nombre">{{ categorium.Nombre }}</p>
                        <p id="descripcion">{{ categorium.Descripcion }}</p>
                    </div>
                </a>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}
