{# templates/pedido.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Confirmación de pedido{% endblock %}
{% block body %}
    {% if error == 1 %}
        <h1 class="alert">No hay productos en el carrito</h1>
    {% elseif error == 2%}
        <h1 class="alert">Error de la base de datos al procesar el pedido, consulte con el administrador</h1>
    {% else %}
        <h1 class="alert">Pedido {{ id }} realizado con éxito</h1>
    {% endif %}
{% endblock %}