{% extends 'base.html.twig' %}

{% block title %}Nuevo Restaurante{% endblock %}

{% block body %}
    <h1>Crear nuevo Restaurante</h1>

    {{ include('restaurantes/_form.html.twig') }}

    <a href="{{ path('restaurantes_index') }}">Volver a la lista</a>
{% endblock %}
