{% extends 'base.html.twig' %}

{% block title %}Editar Categorias{% endblock %}

{% block body %}
    <h1>Editar Categorias</h1>

    {{ include('categorias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorias_index') }}">Volver a la lista</a>

    {{ include('categorias/_delete_form.html.twig') }}
{% endblock %}
