{% extends 'base.html.twig' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block body %}
    <h1>Crear nuevo pedido</h1>

    {{ include('pedidos/_form.html.twig') }}

    <a href="{{ path('pedidos_index') }}">Volver a la lista</a>
{% endblock %}
